################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HackerrankSoln/FileContentIndex/2f7c6248-d914-41f1-8187-146a1f3546d3.vsidx
/.vs/HackerrankSoln/FileContentIndex/35fa9cd2-3ece-44c7-b24d-dc2bac851884.vsidx
/Algorithms1/obj/Algorithms1.csproj.nuget.g.targets
/Algorithms1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Algorithms1/obj/Debug/net6.0/_IsIncrementalBuild
*.props
/Algorithms1/obj/Debug/net6.0/Algorithms1.AssemblyInfo.cs
/Algorithms1/obj/Debug/net6.0/Algorithms1.csproj.FileListAbsolute.txt
/Algorithms1/obj/Debug/net6.0/Algorithms1.csproj.CoreCompileInputs.cache
/Algorithms1/obj/Debug/net6.0/Algorithms1.csproj.AssemblyReference.cache
/Algorithms1/obj/Debug/net6.0/Algorithms1.GlobalUsings.g.cs
/Algorithms1/obj/Debug/net6.0/apphost.exe
/Algorithms1/obj/Debug/net6.0/ref/Algorithms1.dll
/Algorithms1/obj/Debug/net6.0/Algorithms1.csproj.BuildWithSkipAnalyzers
/Algorithms1/obj/Debug/net6.0/Algorithms1.AssemblyInfoInputs.cache
/Algorithms1/obj/Debug/net6.0/Algorithms1.assets.cache
/Algorithms1/bin/Debug/net6.0/Algorithms1.deps.json
/Algorithms1/obj/Algorithms1.csproj.nuget.dgspec.json
/Algorithms1/bin/Debug/net6.0/Algorithms1.dll
/Algorithms1/bin/Debug/net6.0/Algorithms1.pdb
/Algorithms1/bin/Debug/net6.0/Algorithms1.exe
/Algorithms1/bin/Debug/net6.0/Algorithms1.runtimeconfig.json
/Algorithms1/obj/Debug/net6.0/Algorithms1.genruntimeconfig.cache
/Algorithms1/obj/Debug/net6.0/Algorithms1.pdb
/Algorithms1/obj/Debug/net6.0/Algorithms1.dll
/Algorithms1/obj/Debug/net6.0/refint/Algorithms1.dll
/.vs/HackerrankSoln/FileContentIndex/5cdb8abc-00b9-4a8b-8086-eef38e30be13.vsidx
/.vs/HackerrankSoln/FileContentIndex/5f30ed97-2d08-4142-ad6e-da92e1b1d335.vsidx
/.vs/HackerrankSoln/FileContentIndex/6e0abfd5-11c9-4700-b45a-91351bdb0ce9.vsidx
/.vs/HackerrankSoln/FileContentIndex/read.lock
/Algorithms1/obj/Debug/net6.0/Algorithms1.GeneratedMSBuildEditorConfig.editorconfig
/Algorithms1/obj/project.assets.json
/Algorithms1/obj/project.nuget.cache
