################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HackerrankSoln/FileContentIndex/2f7c6248-d914-41f1-8187-146a1f3546d3.vsidx
